body {
    padding: 0;
    margin: 0;
}

.functions {
    padding-left: 15px;
    clear: both;
    margin-top: 100px;
}

.function {
    margin-bottom: 15px;
    margin-right: 30px;
    display: inline-block;
    float: left;
    border-left: 3px solid #ffa;
    max-width: 500px;
}

.function-name a {
    font-weight: bold;
    background: #ffc;
    border: 1px solid #ffa;
    padding: 2px 6px;
    display: block;
    font-size: 12pt;
    line-height: 30px;
}

.description {
    color: #888;
    padding: 2px 6px;
    height: 43px;
    overflow-y: hidden;
}

.function.highlighted {
    border-left-color: #aa0000;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #f5ffa7;
    padding-bottom: 15px;
    padding-left: 15px;
}
